header{
  background-image:
      linear-gradient(
      rgba(70, 88, 147,0.6),
      rgba(70, 88, 147, 0.2)
    ),
     url('IMG_0477_edited.JPG');
  background-repeat:none;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  height: 700px;

}

#about_me {
  color: white;
  text-align: center;
}

.text-team{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 660px;
}

#contact{
      background-image: url('map-image.png');
      background-position:center;
      background-repeat:no-repeat;
      background-color: #222;
}
      
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
